<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.videogo"
    android:versionCode="3"
    android:versionName="2.0.0.0107" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="21" />

    <application
        android:name="com.videogo.EzvizApplication"
        android:icon="@drawable/videogo_icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar"  >
        
        <activity
            android:name="com.videogo.LoginSelectActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>  
                        
        <activity
            android:name="com.videogo.main.EzvizWebViewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
         
        <service
            android:name="com.videogo.androidpn.NotificationService"
            android:enabled="true"
            android:exported="false"
            android:label="NotificationService" >
            <intent-filter android:priority="1000" >
                <action android:name="com.videogo.androidpn.NotificationService" />
            </intent-filter>
        </service>
 
        <service
            android:name="com.videogo.androidpn.GCMService"
            android:enabled="true"
            android:exported="false"
            android:label="GCMService" >
            <intent-filter>
                <action android:name="com.videogo.androidpn.GCMService" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:exported="false"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.videogo" />
            </intent-filter>
        </receiver>

        <service android:name="com.videogo.androidpn.GCMIntentService" />
                
        <activity
            android:name=".ui.cameralist.CameraListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.realplay.RealPlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />      
        <activity
            android:name=".ui.realplay.SimpleRealPlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />                  
         <activity
            android:name=".ui.remoteplayback.RemotePlayBackActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.message.MessageActivity"
            android:screenOrientation="portrait" >
        </activity>         
        
        <activity
            android:name=".ui.androidpn.NotifierActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="unspecified"
            android:theme="@android:style/Theme.Translucent" />
        
        <activity
            android:name=".scan.main.CaptureActivity"
            android:screenOrientation="portrait" />
        
        <activity
            android:name=".ui.devicelist.AutoWifiNetConfigActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.devicelist.AutoWifiConnectingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.devicelist.AutoWifiDiscoveringActivity"
            android:screenOrientation="portrait" />     
        <activity
            android:name=".ui.devicelist.DeviceDiscoverActivity"
            android:screenOrientation="portrait" />               
        <activity
            android:name=".ui.devicelist.ResetIntroduceActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.discovery.VideoSquareActivity"
            android:screenOrientation="portrait" />
       
 		<activity 
            android:name=".ui.discovery.SquareColumnActivity"
            android:screenOrientation="portrait" />
        
        <activity 
            android:name=".ui.discovery.SquareVideoListActivity"
            android:screenOrientation="portrait"/>
        
        <activity 
            android:name=".ui.discovery.SquareVideoListActivity2"
            android:screenOrientation="portrait"/>
        
        <activity 
            android:name=".ui.discovery.SearchVideoActivity"
            android:screenOrientation="portrait"/>
        
        <activity 
            android:name=".ui.discovery.MyCollectActivity"
            android:screenOrientation="portrait"></activity>
        
        <receiver
            android:name="com.videogo.EzvizBroadcastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.videogo.action.ADD_DEVICE_SUCCESS_ACTION" />
                <action android:name="com.videogo.action.OAUTH_SUCCESS_ACTION" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.videogo.androidpn.NOTIFICATION_RECEIVED_ACTION" />
            </intent-filter>
        </receiver>

    </application>

    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> 

    <!-- zxing -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.FLASHLIGHT" />        
    
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    
	<!-- Creates a custom permission so only this app can receive its messages. NOTE: APP_PACKAGE.permission.C2D_MESSAGE -->   
    <permission
        android:name="com.videogo.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.videogo.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
</manifest>